.swiper-button-next::after{
    color: white;
    margin-bottom: 25px;
   }
.swiper-button-prev::after{
   color: white;
   margin-bottom: 25px;
}
.parent-3{
   background-color: rgba(18, 18, 18, 0.881);
   color: white;
   padding: 1% 0 0 2%;
}
.parent-3 h2{
   font-weight: 600;
}
.similar-movie{
   width: 100%;
   display: flex;
   gap: 10px;
}
.similar-movie > div img{
   border-radius: 7px;
   width: 100%;
}
.similar > div > div p{
   margin-top: 0px;
}
.similar > div > div{
   padding-top: 15px;
   display: inline-block;
   transition: transform 0.5s;
}
.similar > div > div:hover{
   transform: translateY(-15px);
}