.boss{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.css{
    background-image: linear-gradient(75deg,#000 3.89%,transparent 94.59%);
    position: absolute;
    width: 100%;
    height: 430px;
    display: var(--show-gradiant,block);
}
.parent{
    position: relative;
}
.parent > img {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.details{
    position: absolute;
    top: 0;
    color: white;
    margin: 8% 0 0 5%;
}
.btn-1{
    border: 0.5px solid grey;
    padding: 12px 30px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    background-color: rgba(17, 17, 17, 0.783);
    color: white;
}
.btn-2{
    border: none;
    padding: 13px 30px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    background-color: rgb(252, 64, 31);
    color: white;
}
.share{
    width: 35px;
    margin: 12px 0 -10px 0;
}

.parent-2{
    background-color: rgba(18, 18, 18, 0.881);
    color: white;
    margin-top: -20px;
    padding-top: 20px;
    
}
.middle-child{
    display: flex;
}
.tab-link{
    font-size: 18px;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
}
.tab-link::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: orangered;
    position: absolute;
    left:  0;
    bottom: -8px;
    transition: 0.1s;
}
.tab-link.active-link::after{
    width: 120%;
}
.content{
    display: flex;
    padding: 30px;
    gap: 10px;
}
.content > div img{
    width: 70%;
    border-radius: 10px;
}
.content p{
    margin-top: 0;
}
li{
    list-style: none;
    margin-bottom: 7%;
}