::-webkit-scrollbar {
    display: none;
}

.listwrapper{
    position: relative;
    
}

.horizontalList{
    display: flex;
    /* align-items: stretch; */
    position: relative;
    overflow:scroll;
    white-space: nowrap;
    /* margin: 2rem; */
    /* margin-top: 2rem; */
    padding: 1rem;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}
.horizontalList>*{
    scroll-snap-align:start;
    flex-grow: 1;
}
.horizontalList::before, .horizontalList::after{
    
    /* position: absolute;
    content: "";
    top: 0;
    width: 10rem;
    z-index: 1;
    height: 100%; */
}
.horizontalList::before{
    /* left: 0;
    background: linear-gradient(to right, #000 0%, transparent 100%); */
}
.horizontalList::after{
    /* right: 0;
    background: linear-gradient(to left, #000 0%, transparent 100%); */
}
/* .leftarrowDiv:hover{
    background: linear-gradient(#000, #333);
    height: 100%;
    position: absolute;
    left:0;
} */
.lefticon{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    /* background-color: red; */
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 10;
    color: #fffeee;
    transform: scale(2);
    /* box-shadow: 0 0 2px 10px rgba(0,0,0,0.2); */
    opacity: 50%;
}
.righticon{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    /* background-color: red; */
    position: absolute;
    top: 45%;
    right: 0;
    z-index: 10;
    color: #fffeee;
    transform: scale(2);
    /* box-shadow: 0 0 2px 10px rgba(0,0,0,0.2); */
    opacity: 50%;
}
.righticon:hover, .lefticon:hover{
    opacity: 90%;
}
.rightarrow:hover{
    /* content: ""; */
}
.leftarrowDiv, .rightarrowDiv{
    /* display: none; */
    position: absolute;
    height: 100%;
    width: 3rem;
    content: "";
    top: 0;
}
.leftarrowDiv{
    left: 0;
}
.leftarrowDiv:hover{
    background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, transparent 100%);
}
.rightarrowDiv{
    right: 0;
}
.rightarrowDiv:hover{
    background: linear-gradient(to left, rgba(0,0,0,0.5) 0%, transparent 100%);
}

