/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap'); */

.horizontalcard{
    margin:0 4px;
    margin-top: 15px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    max-width: 212px;
    flex: 1 1 0%;
}
.horizontalcard:hover{
    transform: translateY(-15px) ;
    
}
.imgContainer2{
    overflow: hidden;
    border-radius: 8px;

}
.img2{
    display: block;
    width: 212px;
    height: 120px;
    border-radius: 8px;
    /* aspect-ratio: 16/9; */
    /* object-fit: scale-down; */
}
.titleDiv{
    padding: 9px 0 12px 0;
    /* width: 160px; */
 }
 .title{
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
 }


 @media only screen and (max-width: 700px) {
    .horizontalcard{
        max-width: 190px;
       
    }
}

