.searchinput{
    width: 250px;
    border: 0;
    height: 15px;

    display: block;
    padding: 10px 8px;
    min-width: 0;
    
    box-sizing: content-box;
    color:"white";
    border-radius: 8px;
    
    
    background: linear-gradient(139.8deg, rgba(255,255,255,0.2) 10.38%, rgba(255,255,255,0) 137.67%);
    
    margin-left: -20px;
}
.searchinput:focus{
    outline: none ;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0;
    margin-top: 0;
    height: 5em;
    font-size:1em;
    cursor: pointer;
    overflow: hidden;
    z-index: 1000;
    position: fixed;
    top: 0;
    left :0;
    right: 0;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, transparent 100%); */
}
.small-screen-nav{
    display:none;
}
.bottom-nav{
    display: none;
}
.left{
    display: flex;
    justify-content: space-around;
    background-color: black;
    /* background: linear-gradient(rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0)); */
    width: 50%;
    gap: 4%;
    align-items: center;
    cursor: pointer;
}

.right{
   display: flex;
   justify-content: flex-end;
   background-color: black;
    gap: 2%;
    align-items: center;
    cursor: pointer;
    
}
.logo{
    width: 68px;
}
.search {
    margin-left: 20%;
    display: flex;
}



.searchIcon {
    margin-left: 1%;
}
.subscribe-btn{
    padding: 5px 23px;
    background: linear-gradient(0deg, #b61a09 -86.4%, #ff6d2e);
    min-width: 143px;
    min-height: 40px;
    border-radius: 26px;
    font-size: 0.9em;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    color: white;
    cursor: pointer;
}
.signin {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 150%;
    font-size:1em;
   justify-content: center;
}

.signin>img {
    width: 35px;
    height: 35px;
    border: 0.5px solid #303235;
    background-color: #868990;
    border-radius: 50%;
    padding: 2%;
}
a{
    text-decoration: none;
    color: white;
}

.another-nav{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}
.nav-logo{
    background-image: url(https://www.aha.video/aha-logo.db810aeaa42b356a86a7.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* margin-right: 30px; */
    cursor: pointer;
    height: 33px;
    width: 60px;
}
.lang-icon{
    height: 24px;
    width: 24px;
    /* margin-right: 32px; */
    background-image: url(https://www.aha.video/language-icon.ef88ebcc6b1bcda97fc4.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}
.category-cont{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

/* Bottom Navbar css */
.bottom-nav{
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg,#3b4046 9.38%,#2d3037);
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    bottom: 0;
    padding: 15px 0;
    z-index: 1000;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
}
.bottom-nav-items{
    display: flex;
    justify-content: space-around;
   
}
.bottom-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(129, 125, 125);
}
@media screen  and (max-width:900px) {
    .header-container{
        display: none;
    }
    .small-screen-nav{
        display:block;
        z-index: 1000;
        width: 100%;
        position: fixed;
        top: 0;
        overflow: hidden;

    }
    .bottom-nav{
        display: block;
    }
}

