
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0;
    margin-top: 0;
    height: 5em;
    font-size:1em;
    cursor: pointer;
    overflow: hidden;
    z-index: 5;
}

.left{
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 50%;
    gap: 4%;
    align-items: center;
    cursor: pointer;
}

.right{
   display: flex;
   justify-content: flex-end;
   background-color: black;
    gap: 2%;
    align-items: center;
    cursor: pointer;
    
}
.logo{
    width: 68px;
}
.search {
    margin-left: 20%;
    display: flex;
}

.search>input {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 100%;
    border-radius: 26.0997px;
    cursor: pointer;
    border: #3b4046 1px solid;
    padding: 2px;
    height: 25px;
    
}

.searchIcon {
    margin-left: 1%;
}
.subscribe-btn{
    padding: 5px 23px;
    background: linear-gradient(0deg, #b61a09 -86.4%, #ff6d2e);
    min-width: 143px;
    min-height: 40px;
    border-radius: 26px;
    font-size: 0.9em;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    color: white;
    cursor: pointer;
}
.signin {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 150%;
    font-size:1em;
}

.signin>img {
    width: 35px;
    height: 35px;
    border: 0.5px solid #303235;
    background-color: #868990;
    border-radius: 50%;
    padding: 2%;
}
a{
    text-decoration: none;
    color: white;
}


