.trending, .results{
    display: flex;
    /* gap:8px; */
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 50px;
}
.para, .strong{
    color: white;
    font-size: xx-large;
}
.h1{
    color: white;
   
}